daphne-laoder {
    lottie-animation-view {
        position: relative;
        top: 60vh;
    }
    .loader {
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 100%;
        position: fixed;
    }
}