@import "~src/styles";
@import "~src/assets/base";
.discover-treatment {
    background-color: $main-pink;
}

.discover-treatment-text {
    font-size: $title-30;
    color: #ffffff;
}

.discover-treatment-text-mobile {
    font-size: $size-medium;
    color: #ffffff;
}

.do-test-button {
    border: 0 transparent;
    background-color: #ffffff;
    outline: none;
    border-radius: 30px;
    text-align: center;
    padding: 5px 25px;
    font-size: 1.09375em;
    min-width: 50px;
}

.do-test-mobile-button {
    border: 0 transparent;
    border-radius: 50px;
    background-color: #ffffff;
    color: $text-color;
    font-size: $size-base;
    padding: 15px 35px;
    outline: none;
}

button:focus {
    outline: 0;
}

.section-title {}

.section-desc {
    font-size: $size-base;
    color: #1e1e1e;
}

.section-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.generic-pink-button {
    border: 0 transparent;
    background-color: $main-pink;
    color: #ffffff;
    outline: none;
    border-radius: 30px;
    text-align: center;
    padding: 5px 25px;
    font-size: 1.09375em;
    min-width: 50px;
}

.generic-pink-button-disabled {
    border: 0 transparent;
    background-color: #e3e3e3;
    color: $text-color;
    outline: none;
    border-radius: 30px;
    text-align: center;
    padding: 5px 25px;
    font-size: 1.09375em;
    min-width: 50px;
}