@import "~src/styles";
@import "~src/assets/base";
daphne-footer {
    .main-background {
        background-color: #4d72f6;
    }
    .footer-text {
        color: white;
        font-family: $regular;
        font-size: $size-small;
    }
}