<div class="container-fluid p-0 main-background d-flex align-items-center">
    <div class="row no-gutters w-100">
        <div [ngClass]="{'col-6': isOnMobile, 'col-4 d-flex justify-content-end': !isOnMobile}" class="w-100 footer-text">
            Piazza Villari, 16/A, Torino
        </div>
        <div [ngClass]="{'col-6': isOnMobile, 'col-4': !isOnMobile}" class="w-100 footer-text">
            P.IVA 111111111
        </div>
        <div [ngClass]="{'col-6 pt-1': isOnMobile, 'col-4 d-flex justify-content-start': !isOnMobile}" class="w-100 footer-text">
            TEL. 123456789
        </div>
        <div [ngClass]="{'col-6 pt-1': isOnMobile, 'col-12': !isOnMobile}" class="w-100 footer-text">Cookie Policy</div>
    </div>
</div>