<nav *ngIf="isOnMobile" class="navbar navbar-expand-lg navbar-light bg-light white-navbar fixed-top">
    <a class="navbar-brand" data-toggle="collapse" routerLink="home">DAPHNE-STUDIO</a>
    <!-- The Hambuerge menù on mobile -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>				
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item dropdown ml-2 mr-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SERVIZI
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/servizi/viso">VISO</a>
                    <a class="dropdown-item" routerLink="/servizi/corpo">CORPO</a>
                    <a class="dropdown-item" routerLink="/servizi/laser">LASER</a>
                </div>
            </li>
            <li class="nav-item ml-2 mr-2">
                <a class="nav-link" routerLink="/dicono-di-noi" [routerLinkActive]="['active']">DICONO DI NOI</a>
            </li>
            <li class="nav-item ml-2 mr-2">
                <a class="nav-link " routerLink="/lavora-con-noi" [routerLinkActive]="['active']">LAVORA CON NOI</a>
            </li>
            <li class="nav-item ml-2 mr-2">
                <a class="nav-link " routerLink="/contatti" [routerLinkActive]="['active']">CONTATTI</a>
            </li>
        </ul>
    </div>
</nav>

<nav *ngIf="!isOnMobile" role="navigation" class="primary-navigation d-flex align-items-center justify-content-center">
    <ul>
        <li><a [ngClass]="{'activeUrl': isService}" routerLink="/servizi">SERVIZI</a>
            <ul class="dropdown">
                <li><a routerLink="/servizi/corpo">CORPO</a></li>
                <li><a routerLink="/servizi/viso">VISO</a></li>
                <li><a routerLink="/servizi/laser">LASER</a></li>
            </ul>
        </li>
        <li><a [ngClass]="{'activeUrl': isFeedbacks}" routerLink="/dicono-di-noi">DICONO DI NOI</a></li>
        <li><a [ngClass]="{'activeUrl': isWorkWithUs}" routerLink="/lavora-con-noi">LAVORA CON NOI</a></li>
        <li><a [ngClass]="{'activeUrl': isContacts}" routerLink="/contatti">CONTATTI</a></li>
    </ul>
</nav>