<section *ngIf="isOnMobile" class="s1">
    <!-- Navbar -->
    <nav class="navbar d-flex justify-content-between">
        <span>DAPHNE - STUDIO</span>
        <span class="open-menu" style="font-size:2em;">&#9868;</span>
    </nav>

    <!-- Overlay Navigation -->
    <nav class="overlay">
        <h2 class="nav-title">Daphne - Studio</h2>
        <nav class="overlay-menu">
            <ul>
                <li style='margin-bottom: 0px;'><a [ngClass]="{'activeUrl': currentUrl.isService}" class='section-title' routerLink="/servizi">SERVIZI</a>
                    <ul class="dropdown">
                        <li class="sub-dropdown"><a [ngClass]="{'activeUrl': currentUrl.isBody}" routerLink="/servizi/corpo">CORPO</a></li>
                        <li class="sub-dropdown"><a [ngClass]="{'activeUrl': currentUrl.isFace}" routerLink="/servizi/viso">VISO</a></li>
                        <li class="sub-dropdown"><a [ngClass]="{'activeUrl': currentUrl.isLaser}" routerLink="/servizi/laser">LASER</a></li>
                    </ul>
                </li>
                <li><a class='section-title' [ngClass]="{'activeUrl': currentUrl.isFeedbacks}" routerLink="/dicono-di-noi">DICONO
                        DI NOI</a></li>
                <li><a class='section-title' [ngClass]="{'activeUrl': currentUrl.isWorkWithUs}" routerLink="/lavora-con-noi">LAVORA
                        CON NOI</a></li>
                <li><a class='section-title' [ngClass]="{'activeUrl': currentUrl.isContacts}" routerLink="/contatti">CONTATTI</a>
                </li>
            </ul>
            <li class="close-menu" style="font-size:2em; color:#E00049; list-style-type: none;">&#10005;</li>
        </nav>
    </nav>
</section>
<nav *ngIf="!isOnMobile" role="navigation" class="primary-navigation d-flex align-items-center justify-content-center" (scroll)="onWindowScroll($event);">
    <ul>
        <li><a [ngClass]="{'activeUrl': currentUrl.isService}" routerLink="/servizi">SERVIZI</a>
            <ul class="dropdown">
                <li><a routerLink="/servizi/corpo">CORPO</a></li>
                <li><a routerLink="/servizi/viso">VISO</a></li>
                <li><a routerLink="/servizi/laser">LASER</a></li>
            </ul>
        </li>
        <li><a [ngClass]="{'activeUrl': currentUrl.isFeedbacks}" routerLink="/dicono-di-noi">DICONO DI NOI</a></li>
        <li><a [ngClass]="{'activeUrl': currentUrl.isWorkWithUs}" routerLink="/lavora-con-noi">LAVORA CON NOI</a>
        </li>
        <li><a [ngClass]="{'activeUrl': currentUrl.isContacts}" routerLink="/contatti">CONTATTI</a></li>
    </ul>
</nav>