    @import "~src/styles";
    @import "~src/assets/base";
    daphne-navbar {
        .white-navbar {
            background-color: #ffffff !important;
        }
        .scrolled-navbar {
            box-shadow: 0px 7px 30px 4px rgba(0, 0, 0, 0.1);
            transition: ease-in-out .4s;
        }
        .logo {
            font-size: $size-logo;
            font-family: $logo;
            color: #171D29;
            position: absolute;
            left: -3px
        }
        .activeUrl {
            font-family: $regular;
            color: #7C57D4 !important;
        }
        *,
        *:before,
        *:after {
            box-sizing: border-box;
            z-index: 1000;
        }
        //MOBILE NAVBAR 
        .navbar h2.brand {
            font-family: $regular;
            color: #fa255e;
        }
        .navbar {
            height: 65px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: fixed;
            background-color: #7C57D4;
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
        }
        .open-menu,
        .close-menu {
            cursor: pointer;
            transition: transform 0.3s;
            color: red;
            font-size: 1.5em;
        }
        /* Overlay */
        .overlay {
            position: fixed;
            background: rgba(244, 211, 232, 1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.35s, visibility 0.35s, height 0.35s;
            overflow: auto;
        }
        .overlay.open {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
        .overlay .nav-title {
            font-family: $regular-bold;
            font-size: 1.375em;
            color: #e00049;
            font-weight: bold;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            margin: 0 auto;
            left: 50%;
            transform: translate(-50%);
            top: 8%;
        }
        .overlay nav {
            position: relative;
            height: 45%;
            top: 45%;
            transform: translateY(-50%);
            text-align: center;
        }
        .overlay ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;
            width: 100%;
        }
        .overlay ul li {
            display: block;
            position: relative;
            opacity: 0;
            margin-bottom: 25px;
            font-family: $regular;
        }
        .section-title {
            font-size: $size-medium;
        }
        .overlay ul li a {
            display: block;
            position: relative;
            color: #fff;
            text-decoration: none;
            overflow: hidden;
            transition: all 0.4s;
        }
        .overlay ul li a:after {
            content: "";
            position: absolute;
            top: 45%;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 2.5px;
            background: #fff;
            transition: 0.35s;
        }
        .overlay ul li a:hover,
        .overlay ul li a:focus,
        .overlay ul li a:active {
            color: #fff;
        }
        .overlay ul li a:hover:after,
        .overlay ul li a:focus:after,
        .overlay ul li a:active:after {
            width: 50%;
            background: #7C57D4;
        }
        .overlay.open li {
            animation: fadeInRight 0.5s ease forwards;
            animation-delay: 0.35s;
        }
        .overlay.open li:nth-of-type(2) {
            animation-delay: 0.4s;
        }
        .overlay.open li:nth-of-type(3) {
            animation-delay: 0.45s;
        }
        .overlay.open li:nth-of-type(4) {
            animation-delay: 0.5s;
        }
        /* Animation for menu fade in */
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                left: 20%;
            }
            100% {
                opacity: 1;
                left: 0;
            }
        }
        .sub-dropdown {
            margin-bottom: 10px !important;
        }
        .sub-dropdown a {
            font-size: $size-small !important;
        }
        // DESKTOP NAVBAR
        .icon-bar {
            width: 22px;
            height: 2px;
            background-color: #B6B6B6;
            display: block;
            transition: all 0.2s;
            margin-top: 4px
        }
        .navbar-toggler {
            border: none;
            background: transparent !important;
        }
        .navbar-toggler .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        .navbar-toggler .middle-bar {
            opacity: 0;
        }
        .navbar-toggler .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
        .navbar-toggler.collapsed .top-bar {
            transform: rotate(0);
        }
        .navbar-toggler.collapsed .middle-bar {
            opacity: 1;
        }
        .navbar-toggler.collapsed .bottom-bar {
            transform: rotate(0);
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }
        .dropdown-menu {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        // DESKTOP NAVBAR
        .main-navbar-container {
            background-color: rgba(255, 255, 255, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }
        nav {
            &.primary-navigation {
                margin: 0 auto;
                display: block;
                height: 65px;
                text-align: center;
                font-size: 16px;
                ul li {
                    list-style: none;
                    margin: 0 auto;
                    border-right: 1px solid #000000;
                    display: inline-block;
                    padding: 0 30px;
                    position: relative;
                    text-decoration: none;
                    text-align: center;
                    font-family: $regular;
                }
                li a {
                    color: black;
                }
                li a:hover {
                    color: #7C57D4;
                    text-decoration: 'none' !important;
                }
                li:hover {
                    cursor: pointer;
                }
                ul li ul {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    padding-left: 0;
                    left: 0;
                    display: none;
                    background: white;
                }
                ul li:hover>ul,
                ul li ul:hover {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                    min-width: 250px;
                    text-align: left;
                    padding-top: 20px;
                    box-shadow: 0px 3px 5px -1px #ccc;
                    z-index: 99;
                }
                ul li ul li {
                    clear: both;
                    width: 100%;
                    text-align: left;
                    padding-bottom: 20px;
                    border-style: none;
                }
                ul li ul li a:hover {
                    padding-left: 10px;
                    border-left: 1px solid #7C57D4;
                    transition: all 0.3s ease;
                    text-decoration: none !important;
                }
            }
        }
        a {
            text-decoration: none;
            &:hover {
                // color: #7C57D4;
                text-decoration: none;
            }
        }
        ul li ul li a {
            transition: all 0.5s ease;
        }
        nav>ul {
            margin: 0;
        }
    }