@import "~src/styles";
@import "~src/assets/base";
.app-component-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes slide {
    0% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes slide {
    0% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@-o-keyframes slide {
    0% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes slide {
    0% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}