@import "~src/styles";
@import "~src/assets/base";
daphne-main-card {
    a {
        color: inherit;
    }
    .card-height {
        height: 75vh;
    }
    .card-image {
        background-image: url('https://source.unsplash.com/collection/123');
        background-size: cover;
        background-position: center center;
        height: 75vh;
        margin-top: 10vh;
        border: 15px solid white;
        z-index: 2;
    }
    .text-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }
    .title {
        font-family: $title;
        font-size: $size-40;
        padding-bottom: 24px;
    }
    .description {
        font-family: $regular-light;
        font-size: $size-20;
    }
    .discover-link {
        font-family: $title;
        font-size: $size-20;
        color: $maximum-blue-purple;
        width: fit-content;
        padding-top: 20px;
        text-decoration: none;
    }
    .discover-link:hover {
        text-decoration: none;
        color: #7C57D4;
    }
}