// Export this sheet to ALL style components sheet
// set font here
$regular: "Poppins-Regular";
$title: "Sanchez-Regular";
$regular-bold: "Poppins-Bold";
$regular-medium: "Poppins-Medium";
$regular-thin: "Poppins-Thin";
$regular-light: "Poppins-Light";
$regular-semibold: "Poppins-Bold";
// set base font
$size-base: 1em; // 16px
$size-medium: 1.125em;
$size-title: 1.75em;
$title-30: 1.875em;
$size-small: 0.875em;
// color
$main-pink: #f4d3e8;
$text-color: #1D1D1D;
$lightcolor: #f0f0f0;
$darkborder: rgba(206, 206, 206, 0.795);
// utility
$padding-md: 0.5em;
$padding-sm: 0.3em;
$padding-lg: 1.2em;
$box-shadow: 3px 2px 47px -10px rgba(0, 0, 0, 0.10);