/* You can add global styles to this file, and also import other style files */

@import "../src/assets/base";
// set font site
@font-face {
    font-family: "Raleway-Medium";
    src: url("~src/assets/font/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("~src/assets/font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("~src/assets/font/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Sanchez-Regular";
    src: url("~src/assets/font/Sanchez-Regular.ttf");
}

@font-face {
    font-family: "Raleway-thin";
    src: url("~src/assets/font/Raleway-Thin.ttf");
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("~src/assets/font/Raleway-SemiBold.ttf");
}

html,
body {
    font-family: $regular;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

button {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

// fonts-website
.font-text {
    font-size: $size-base;
    font-family: $regular;
    color: $text-color;
}

.font-title {
    font-size: $size-title;
    font-family: $regular-bold;
    color: $text-color;
}

// Utils Classes
.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

.align-middle {
    display: flex;
    align-items: center;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.pre-wrap {
    white-space: pre-wrap;
}


/**** FIVE BLOCKS IN 12 COL BOOTSTRAP****/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/****FINISH FIVE BLOCKS****/