/* You can add global styles to this file, and also import other style files */

@import "../src/assets/base";
// set font site
@font-face {
    font-family: "Georgia-Regular";
    src: url("~src/assets/font/Georgia-Regular.ttf");
}

@font-face {
    font-family: "Georgia-Bold";
    src: url("~src/assets/font/Georgia-Bold.ttf");
}

html,
body {
    font-family: $regular;
}

// fonts-website
.font-text {
    font-size: $size-base;
    font-family: $regular;
    color: $text-color;
}

.font-title {
    font-size: $size-title;
    font-family: $regular-bold;
    color: $text-color;
}

// Utils Classes
.pointer {
    cursor: pointer;
}

.align-middle {
    display: flex;
    align-items: center;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.pre-wrap {
    white-space: pre-wrap;
}


/**** FIVE BLOCKS IN 12 COL BOOTSTRAP****/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/****FINISH FIVE BLOCKS****/