/* You can add global styles to this file, and also import other style files */

@import "~src/assets/base";
// set font site
@font-face {
    font-family: "Raleway-Regular";
    //src: url("./assets/font/Raleway-Regular.ttf")
}

@font-face {
    font-family: "Raleway-Bold";
    //src: url("./assets/font/Raleway-Bold.ttf")
}

@font-face {
    font-family: "Raleway-SemiBold";
    //src: url("./assets/font/Sanchez-Regular.ttf")
}

// fonts-website
.font-text {
    font-size: $size-base;
    font-family: $regular;
    color: $text-color;
}

.font-title {
    font-size: $size-title;
    font-family: $regular-bold;
    color: $text-color;
}

// Utils Classes
.pointer {
    cursor: pointer;
}

.align-middle {
    display: flex;
    align-items: center;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.pre-wrap {
    white-space: pre-wrap;
}